body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}